#container {
    background-color: black;
    color: white;
    height: auto;
    gap: 25px;
    display: flex;

    text-align: center;
}

.box {
    background-color: rgb(0, 213, 255);
    color: white;
    width: 200px;
    text-align: center;
    height: 500px;
    border: 2px solid white ;



}

.smallbox {
    background-color: black;
    color: white;
    padding: auto;
    text-align: center;
    line-height: 25px;
    height: auto;



}

#boox {

    color: white;
    background-color: orange;

}

h1 {
    text-transform: uppercase;
}