#child {
    background-color: rgb(16, 16, 114);
    margin-top: 100px;
    margin-left: 330px;
    margin-right: 330px;
    margin-bottom: 100px;
    width: 500px;
    height: 250px;
}

h1 {
    color: white;
    text-transform: uppercase;
    text-align: center;

}
 .form{  
    margin-left: 40px;
    margin-right: 40px;
    
}
p{ color: white;
    text-align: right;
    padding-right: 20px;
}
