parent {
    background-color: white;

}



#child {
    margin-top: 100px;
    color: rgb(242, 242, 239);
    background-color: rgb(37, 37, 37);
    text-align: center;
    height: auto;
    
    

}
h3{
    font-family: 'Times New Roman', Times, serif;
}



p {
    text-align: center;
    line-height: 25px;
    padding-top: 0px;
    height: auto;
}
pre{
    border: solid black;
    height: 25px;
    width:fit-content;
    background-color: black;

}