.parent{
    /* background-color: beige; */
    /* display: flex; align-items: center; justify-content: space-between; */
}
.nav-bar{
    background-color: rgb(140, 140, 164);
}
.parent ul{
    display: flex; 
   gap: 35px;

}
.parent1{
        
}
.child1 { 
    
    margin: 30px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
height: 500px;
background-color: aqua;
}
.mini{
    width: 200px;

}
img{
    width: 30%;
    position: absolute; right: 20px ;
    width: 400px;


}

