
h1{
    text-align: center;
}
hr{
    border: 1px solid rgb(77, 186, 179) ;
    
    
}
    h2{
    color: rgb(28, 120, 120);
}
#left{text-align: right;

}
#page{
    margin: 35px;
}
ul{
    text-align: left;
    padding-left: 15px;
}
